/* @import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

@import "tailwindcss";

@theme {
  --color-dark: #09090b;
  --color-light: #d4d4d8;

  --font-custom: "PT Mono", monospace;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-custom);
}

/* Webkit scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  /* Adjust width of the scrollbar */
}

::-webkit-scrollbar-track {
  border-radius: 9999px;
  /* Round the track */
  background-color: #27272a;
  /* Light gray background for the track */
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  /* Round the thumb */
  background-color: #52525b;
  /* Gray color for the thumb */
}
